################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WoWPal/v15
/packages/Tesseract.3.2.0-alpha4
/.vs/WoWPal/DesignTimeBuild
/src/WoWPal.Events/obj/Debug
/src/WoWPal.Events/bin/Debug
/packages
/WoWPal.CombatHandler/bin/Debug
/WoWPal.CombatHandler/obj/Debug
/MigrationBackup/eb218848/WoWPal
src/wowpal-server/node_modules