.Map {
  position: fixed;
  top:50px;
  min-width: 100%;
  min-height: 100%;
}

.MapHeader {
  position: fixed;
  top:0;
  height: 50px;
  width: 100%;
  text-align: center;
}

.MapSelector {
  width: 400px;
  height: 40px;
  margin:5px;
  border-radius: 5px;
}

#image-map {
  position: fixed !important;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}