html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #613989; /* Old browsers */
  background: -moz-linear-gradient(45deg, #613989 1%, #260072 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #613989 1%,#260072 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #613989 1%,#260072 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613989', endColorstr='#260072',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#map-wrapper {
  position: fixed;
  left: 200px;
  top: 50px;
  right: 50px;
  bottom: 50px;
  background: black;
  border: 1px solid red;
}

.top-menu {
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.top-menu a {
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  width: 150px;
  margin: 0;
  padding: 0;
}

.top-menu a:hover {
  background: rgba(0, 0, 0, 0.5);
}

#map {
  max-width:100%;
  height: calc(75vw - 200px);
  max-height: 100%;
}

#arrow-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

#arrow-wrapper .arrow {
  position:absolute;
  width: 20px;
  height: 20px;
}

.left-menu {
  color: white;
  padding: 10px;
  width: 180px;
  display: block;
  position: absolute;
  bottom: 45px;
  top: 50px;
  overflow-y: scroll;
}

#log-wrapper {
  display: none;
}

#log {
  padding: 0;
  list-style: none;
}

#debug {
  color:white;
}